<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <style type="text/css">
        html{height:100%;}
        body{min-height:100%;margin:0;padding:0;position:relative;}
        .header{background-color: #ffe4c4;}
        .main{padding-bottom:100px;background-color: #bdb76b;}/* main的padding-bottom值要等于或大于footer的height值 */
        .footer{position:absolute;bottom:0;width:100%;height:100px;}
    </style>
    <style>
        a {
    text-decoration: none;
    display: inline-block;
        }

        a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
    <body>
        <div>
        <div>
            <a style="padding: 8px 16px;"> mini-Taobao</a>
            <a onclick="goBack()" style="padding: 8px 16px;">&laquo;Previous</a>
            <a onclick="goForward()" style="padding: 8px 16px;">Next&raquo;</a>
            </div>
        <br>
            <div>
                <h1>登录</h1>
                <form id="command_form" method="POST" action="/auth/login">
                    <div>
                        <input name="user_id" type="text" placeholder="user_id" value="{{ user_id }}">
<!--                        <span>@</span>-->
                        <br>
                        <input name="password" type="password" placeholder="password" value="{{ password }}" >
                        <br>
                        <span>
                            <input id="submit1" name="submit" type="submit" value="执行" disabled/>
                        </span>
                    </div>
                </form>
            </div>
            <div>
                <h1>注册</h1>
                <form id="command_form" method="POST" action="/auth/register">
                    <div>
                        <input name="user_id" type="text" placeholder="user_id" value="{{ user_id }}">
                        <br>
                        <input name="password" type="password" placeholder="password" value="{{ password }}" >
<!--                        <span>@</span>-->
                        <br>
                        <span>
                            <input id="submit2" name="submit" type="submit" value="执行" disabled/>
                        </span>
                    </div>
                </form>
            </div>
            <div id="result">
                <h3>命令结果</h3>
                <textarea rows="10" cols="50">
{% if result %}
    {{ result }}
{% endif %}
                </textarea>
                <br>
    <span style="font-size:18px;"> </span><span style="font-size:24px;"><meta http-equiv="refresh" content="5;URL=/auth/operation/{{ user_id }}"> </span>
<span style="font-size:24px;">5秒之后自动跳转到操作界面。。。</span>
            </div>
            <div class="footer">
            <p style="text-align: center"><a href="http://icp.chinaz.com/info?q=%E6%B2%AAICP%E5%A4%8719047414%E5%8F%B7-1">备案编号 沪ICP备19047414</a></p>
            </div>
        </div>
    </body>
<script>
function goBack() {
    window.history.back();
}
function goForward() {
    window.history.forward();
}

</script>
</html>