<!DOCTYPE html>
{#把html的值给js#}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>显示UserAgent</title>
</head>
<body style="text-align:center">

    <div id="userAgentDiv" >
        {#        <input type="button" value="显示UserAgent" onclick="showUserAgent()" /><br />#}

        {{  }}
    </div>
    <script type="text/javascript">
        {#function showUserAgent() {#}
            var aaa = navigator.userAgent;
        {# } #}
    </script>
</body>
</html>